[Unit]
Description=Firehol stateful packet filtering firewall for humans
Documentation=man:firehol(1)

[Service]
Type=oneshot
ExecStart=/usr/sbin/firehol start
ExecStop=/usr/sbin/firehol stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
