[Unit]
Description=FireQOS traffic shaping for humans
Documentation=man:fireqos(1) man:fireqos.conf(5)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/fireqos start
ExecStop=/usr/sbin/fireqos stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
