# Lines that start with '#' are comments.
*~
autotool/install-sh
autotool/missing
configure
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
doc/db-valid
doc/services-generated
doc/firehol.ent
doc/firehol/tmp*
doc/firehol/man/man1/
doc/firehol/man/man5/
doc/firehol/firehol-manual.html
doc/firehol/firehol-manual.pdf
doc/firehol/firehol-services.html
doc/firehol/firehol-services.5.md
doc/fireqos/tmp*
doc/fireqos/man/man1/
doc/fireqos/man/man5/
doc/fireqos/fireqos-manual.html
doc/fireqos/fireqos-manual.pdf
doc/index-services.html
doc/index.html
doc/ch*.html
doc/pt*.html
doc/rn*.html
doc/apa*.html
doc/services-?.xml
doc/service-links
doc/tools/pandoc-post
sbin/firehol
sbin/fireqos
*.xz
*.gz
*.bz2
firehol-*.*.*/
INSTALL
regression/output/
