# Lines that start with '#' are comments.
*~
autotool/install-sh
autotool/missing
configure
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
doc/db-valid
doc/services-generated
doc/*/tmp*
doc/*/man/man1/
doc/*/man/man5/
doc/*/*-manual.html
doc/*/*-manual.pdf
doc/firehol.ent
doc/firehol/firehol-services.html
doc/firehol/firehol-services.5.md
doc/firehol/contents.md
doc/index-services.html
doc/index.html
doc/ch*.html
doc/pt*.html
doc/rn*.html
doc/apa*.html
doc/services-?.xml
doc/service-links
doc/tools/pandoc-post
sbin/install.config
sbin/install.config.in
sbin/*.o
sbin/.deps
unittest/coverage
*.xz
*.gz
*.bz2
firehol-*.*.*/
README
